Table{
    border: 10px solid grey;
    
    
}

th{
    background: green;
    color: white;
    padding: 10px;
}

td{
    border: 2px solid green;
    text-align: center;
    width: 150px;
    padding: 5px;
}